header{
    position: relative;
    display: flex;
    justify-content: space-between;
    transition: 1s;
    
}
.enlarge img{
   opacity: 0.9;
}
.enlarge {
    transition: all 0.25s ease-in-out;
    overflow: hidden;
}

.enlarge:hover {
    transform: scale(1.06,1.06);
    cursor: pointer;
}
.enlarge:hover img{
    opacity: 1;
}
.upc{
    background-image: url(image/Prithviraj.jpeg);
    background-color: rgb(29, 28, 28);
    background-blend-mode: overlay;
    display: block;
    height: 650px;
}
.row{
    --bs-gutter-x: 1.5rem;
}
.enlarge1{
    transition: 0.25s;
}
.enlarge1:hover {
    transform: scale(1.01,1.01);
    cursor: pointer;
}
.end{
    color: rgb(255, 255, 255);
    font-size: 40%;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 50px;
}
.navi{
    height: 5.5rem;
    width: 100%;
    background-color: rgb(52, 52, 53);
    position: sticky;
    top: 0px;
    transition: 0.4s ease-in-out;
}
.navi:hover{
    background-color: rgb(255, 255, 255);
}
.navi:hover .prithvi,.navi:hover .menu ul a{
    color: #000;
}
.prithvi{
    color: rgb(255, 255, 255);
    font-weight: 1000;
    font-family:Iceberg;
    transition: 0.4s ease-in-out;
}
.kumar{
    font-weight: 1;
    font-family:Bai Jamjuree;
}
.menu ul{
    list-style: none;
    overflow: hidden;
    padding: 0;
    text-align: center;
    margin: 0px;
    transition: 1s;
}
.menu ul li{
    display: inline-block;
    padding: 5px;
    margin-top: 1.6rem;
}
.menu ul li a{
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-family: sans-serif;
    letter-spacing: 2px;
    text-decoration: none;
    text-align: center;
    transition: 0.4s ease-in-out;
}
.imdb{
    height: 11rem;
    width: 4rem;
    background-color: rgb(65, 64, 64);
    position: fixed;
    top: 30rem;
    right: 1.5rem;
    border-radius: 0.5rem;
}
.imr-7:hover~.imdb .imdb-8,.imr-7:hover~.imdb .imdb-7,.imr-7:hover~.imdb .imdb-6,.imr-7:hover~.imdb .imdb-5,.imr-7:hover~.imdb .imdb-4,.imr-7:hover~.imdb .imdb-3,.imr-7:hover~.imdb .imdb-2,.imr-7:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imdb-10,.imdb-9,.imdb-8,.imdb-7,.imdb-6,.imdb-5,.imdb-4,.imdb-3,.imdb-2,.imdb-1{
   height: 0.8rem;
   background-color: rgb(94, 93, 92);
   margin-top: 0.1rem;
   transition: 0.5s ease-in-out;
}
.imr-1:hover~.imdb .imdb-8,.imr-1:hover~.imdb .imdb-7,.imr-1:hover~.imdb .imdb-6,.imr-1:hover~.imdb .imdb-5,.imr-1:hover~.imdb .imdb-4,.imr-1:hover~.imdb .imdb-3,.imr-1:hover~.imdb .imdb-2,.imr-1:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-2:hover~.imdb .imdb-6,.imr-2:hover~.imdb .imdb-5,.imr-2:hover~.imdb .imdb-4,.imr-2:hover~.imdb .imdb-3,.imr-2:hover~.imdb .imdb-2,.imr-2:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-3:hover~.imdb .imdb-8,.imr-3:hover~.imdb .imdb-7,.imr-3:hover~.imdb .imdb-6,.imr-3:hover~.imdb .imdb-5,.imr-3:hover~.imdb .imdb-4,.imr-3:hover~.imdb .imdb-3,.imr-3:hover~.imdb .imdb-2,.imr-3:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-4:hover~.imdb .imdb-7,.imr-4:hover~.imdb .imdb-6,.imr-4:hover~.imdb .imdb-5,.imr-4:hover~.imdb .imdb-4,.imr-4:hover~.imdb .imdb-3,.imr-4:hover~.imdb .imdb-2,.imr-4:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-5:hover~.imdb .imdb-7,.imr-5:hover~.imdb .imdb-6,.imr-5:hover~.imdb .imdb-5,.imr-5:hover~.imdb .imdb-4,.imr-5:hover~.imdb .imdb-3,.imr-5:hover~.imdb .imdb-2,.imr-5:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-6:hover~.imdb .imdb-7,.imr-6:hover~.imdb .imdb-6,.imr-6:hover~.imdb .imdb-5,.imr-6:hover~.imdb .imdb-4,.imr-6:hover~.imdb .imdb-3,.imr-6:hover~.imdb .imdb-2,.imr-6:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-8:hover~.imdb .imdb-6,.imr-8:hover~.imdb .imdb-5,.imr-8:hover~.imdb .imdb-4,.imr-8:hover~.imdb .imdb-3,.imr-8:hover~.imdb .imdb-2,.imr-8:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-9:hover~.imdb .imdb-4,.imr-9:hover~.imdb .imdb-3,.imr-9:hover~.imdb .imdb-2,.imr-9:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-10:hover~.imdb .imdb-5,.imr-10:hover~.imdb .imdb-4,.imr-10:hover~.imdb .imdb-3,.imr-10:hover~.imdb .imdb-2,.imr-10:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-11:hover~.imdb .imdb-4,.imr-11:hover~.imdb .imdb-3,.imr-11:hover~.imdb .imdb-2,.imr-11:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.imr-12:hover~.imdb .imdb-6,.imr-12:hover~.imdb .imdb-5,.imr-12:hover~.imdb .imdb-4,.imr-12:hover~.imdb .imdb-3,.imr-12:hover~.imdb .imdb-2,.imr-12:hover~.imdb .imdb-1{
    background-color: rgb(255, 217, 0);
}
.nn{
    align-items: center;
}
#bar{
    border: 1px solid #fff;
    border-radius: 15px;
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.2);
    height: 41rem;
    position: fixed;
    width: 80%;
    top: -100rem;
    left: 4.2rem;
    background-color: rgba(255,255,255,0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    transition: 0.6s ease-in-out;
}
.red{
    height: 20px;
    width: 20px;
    background-color: rgb(172, 5, 5);
    position: absolute;
    top: 1rem;
    right: 1rem;
    border-radius:30% ;
    transition: 0.2s;
}
.red:hover{
    background-color:rgb(117, 5, 5);
}
.yt{
    position: relative;
    height: 12.93rem;
    width:23rem;
}
.ezra{
    font-weight: 1000;
    font-size: 400%;
}
.imgp{
    border-radius: 1%;
}

